[user]
# 環境変数で定義
#  GIT_AUTHOR_NAME
#  GIT_AUTHOR_EMAIL
#  GIT_COMMITTER_NAME
#  GIT_COMMITTER_EMAIL

[color]
  ui = auto

[pager]
  log  = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
  show = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
  diff = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less

[merge]
  ff = false

[alias]
  ba = branch -a
  st = status
  co = checkout
  cm = commit
  fh = fetch -p
  mg = merge
  tree = log --graph --date=short --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
  logg = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
  conflicts = !git ls-files -u | cut -f 2 | sort -u

[url "https://"]
  insteadOf = git://
  
